[submodule "rbenv"]
	path = rbenv
	url = https://github.com/rbenv/rbenv

[submodule "pyenv"]
	path = pyenv
	url = https://github.com/pyenv/pyenv

[submodule "nodenv"]
	path = nodenv
	url = https://github.com/nodenv/nodenv

